body
{
    font-family: 'Special Elite', cursive;
    background-color: aqua;
}

.header_div
{
    background: white;
    color: crimson;
}

.header_div p
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:deeppink;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button
{
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   margin-top: 30px;
   width:130px ;
   font-weight: bolder;
   letter-spacing: 3px;
}

.copy_right_footer
{
    position: fixed;
    color: rgba(23, 0, 128, 0.938);
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: dodgerblue;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(250, 2, 2);
}